<% provide(:title, @user.name) %>
<div class="container">
  <div class="row">
    <div class="col-md-9">
    <h3><%= gravatar_for @user %> <%= link_to @user.name, @user %> <small>Philadelphia, PA</small></h3>
        
        <small>
          <% if signed_in? %>
          <% if current_user.admin? && !current_user?(@user) %>
          <%= link_to "Delete", @user, method: :delete,
                                  data: { confirm: "You sure?" } %>
          <% end %>
          <% end %>
        </small>
   </div>
  </div>
  <hr class="featurette-divider">
</div>



<div class="container">
  <div class="col-md-7">
     <h2 class="featurette-heading">Recommended Reading</h2><%= @user.bio %>
  </div>
  <div class="col-md-5">
  <div id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
              <div id="0" class="item active">
                <img src="http://www.ithp.org/images/music-therapy.jpg"  style="width: 450px; margin: 0 auto">
                <div class="carousel-caption">
                  <h4>Gone With The Wind</h4>
                  <small>Self-Help | 234 pages <p> 3423 views</small>
                </div>
              </div>
              <div id="1" class="item">
                <img src="http://www.destination360.com/contents/pictures/arizona/upper-antelope-canyon-tours.jpg" style="width: 450px; margin: 0 auto">
                <div class="carousel-caption">
                  <h4>Wealth of Nations</h4>
                  <small>Non-Fiction | 540 pages <p> 34,234 views</small>
                </div>
              </div>
          </div> 
          <!-- Carousel nav -->

          <a class="carousel-control left" href="#myCarousel" data-slide="prev"></a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next"></a>

    </div>

  </div>
</div>

<hr class="featurette-divider">


<div class="container">

<div class="row">
  <div class="col-md-12">
        <% if @user.books.any? %>
      <h3>Recommended Reading (<%= @user.books.count %>) </h3>
      <ol class="books">
         <%= render 'books/showbooks' %>
      </ol>
    <% end %>
  </div>
</div>

</div>


</div>

