<% provide(:title, @user.name) %>
<div class="container">
<div class="row">
  <p class="span4">
      <h2>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <small><%= @user.email %></small>
      </h2>
  </p>
</div>
</div>

<div class="container">

<div class="row">
	<div class="col-md-6">
		    <% if @user.books.any? %>
      <h3>Books (<%= @user.books.count %>) <small class="text-primary"><%= link_to "Add", new_user_book_path(@user.id) %></small></h3>
      <ol class="books">
         <%= render 'books/showbooks' %>
      </ol>
    <% end %>
	</div>
</div>

</div>

