<% provide(:title, @user.name) %>
<div class="container">
  <div class="row">
    <div class="col-md-8">
    <h3><%= gravatar_for @user %> <%= link_to @user.name, @user %></h3>
        
        <small>
          <% if signed_in? %>
          <% if current_user.admin? && !current_user?(@user) %>
          <%= link_to "Delete", @user, method: :delete,
                                  data: { confirm: "You sure?" } %>
          <% end %>
          <% end %>
        </small>
        <%= @user.bio %>
   </div> <!-- end col-md-9 -->
  </div> <!-- end row -->

<hr class="featurette-divider">


<div class="row">
  <div class="col-lg-5">

    <%= form_for :book, url: user_books_path(@user.id), :html => {:role =>'form'}  do |f| %>
  <div class="input-group">
    <%= f.text_field(:title, class: 'form-control input-lg', placeholder: "Title") %>
 <span class="input-group-btn"><%= f.submit "Recommend", class: "btn btn-primary btn-lg" %>
</span>
  </div>
<% end %>


        <% if @user.books.any? %>
      <h2>Recommended Reading (<%= @user.books.count %>) </h2>
      <hr class="featurette-divider">
      <ol class="books">
         <%= render 'books/showbooks' %>
      </ol>
    <% end %>
<!-- <%= @response.inspect %> -->

  </div>
</div>

 

</div>

