<% provide(:title, @user.name) %>

<div class="container">

    <div class="row custompaddingtop">
      <div class="col-md-1"><%= gravatar_for @user %></div>
    </div>
    <div class="row">
      <div class="col-md-2 custombottom text-left">
          <%= link_to @user.name, @user %>
          <small>
            <% if signed_in? %>
              <% if current_user.admin? && !current_user?(@user) %>
                <%= link_to "Delete", @user, method: :delete,
                                             data: { confirm: "You sure?" } %>
              <% end %>
            <% end %>
          </small>
      </div> <!-- end col-md -->
      
      <div class="col-md-8 custombottom text-center">
        <%= link_to "recos", @user_books_path %>
        <%= link_to "about", @user_books_path %>
        <%= link_to "follow", @user_books_path %>
     </div>

     <div class="col-md-2 custombottom text-right">
      <%= link_to "site" %>
     </div>
    </div> <!-- end row -->

    <div class="row">
      <div class="col-md-12">
 
      </div>
    </div><!-- end row -->

  <hr class="featurette-divider">


    <div class="row">
      <div class="col-lg-12">
        <%= form_for :book, url: user_books_path(@user.id), :html => {:role =>'form'}  do |f| %>
          <div class="input-group"><%= f.text_field(:title, class: 'form-control input-lg', placeholder: "Title") %>
            <span class="input-group-btn"><%= f.submit "Recommend", class: "btn btn-primary btn-lg" %></span>
          </div>
        <% end %>
      </div><!-- end col-lg -->
    </div><!-- end row -->

    <div class="row">
      <div class="col-lg-6">
          <% if @user.books.any? %>
            <div class="page-header"><h3>Recently Recommended (<%= @user.books.count %>)</h3></div>

            <ol class="books">
              <%= render 'books/showbooks' %>
            </ol>
          <% end %>
      </div> <!-- end col-lg-6 -->
      <div class="col-lg-6">
        <% if @user.books.any? %>
          <div class="page-header"><h3>My Shelf</h3></div>

          <div class="col-lg-3">
          <div class="flip"> 
            <div class="card"> 
              <div class="face front"> 
                <h4><%= @user.books[0].title %></h4>         
              </div> 
              <div class="face back"> 
                <h5>by <%= @user.books[0].author %></h5>
              </div> 
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="flip">
            <div class="card"> 
              <div class="face front"> 
                  <h4><%= @user.books[1].title %></h4>         
              </div> 
              <div class="face back"> 
                <h5>by <%= @user.books[1].author %></h5>
              </div> 
            </div> 
          </div>
        </div>

        <div class="col-lg-3">
          <div class="flip">
            <div class="card"> 
              <div class="face front"> 
                  <h4><%= @user.books[2].title %></h4>         
              </div> 
              <div class="face back"> 
                <h5>by <%= @user.books[2].author %></h5>
              </div> 
            </div> 
          </div>
        </div>

        <div class="col-lg-3">
          <div class="flip">
            <div class="card"> 
              <div class="face front"> 
                  <h4><%= @user.books[3].title %></h4>         
              </div> 
              <div class="face back"> 
                <h5>by <%= @user.books[3].author %></h5>
              </div> 
            </div> 
          </div>
        </div>        

          <span class="label label-warning">l</span>
          <span class="label label-warning">l</span>
          <span class="label label-warning">l</span>
          <span class="label label-warning">l</span>
          <span class="label label-warning">l</span>
          <span class="label label-warning">l</span>
          <span class="label label-primary">b</span>
          <span class="label label-primary">b</span>
          <span class="label label-primary">b</span>
          <span class="label label-default">a</span>
          <span class="label label-danger">f</span>
          <span class="label label-success btn-xs">g</span>
        <% end %>
      </div> <!-- end col-lg-6 -->
    </div> <!-- end of row -->
</div> <!-- end container -->

