<nav class="navbar-inverse navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Real Book Reviews", root_path, class: "navbar-brand" %>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to about_path do %>About<% end %></li>
      <li><%= link_to faq_path do %>How It Works<% end %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if signed_in? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings", edit_user_path(current_user) %></li>
          <li class = "divider"></li>
          <li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
        </ul>
      </li>
      <% else %>
      <li><%= link_to "Sign In", signin_path %></li>
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>