<!DOCTYPE html>
<html>
<head>

  <!-- Title of the article is supplied -->
  <title><%= full_title(yield(:title)) %></title>

  <!-- CSS Stylesheets through Asset Pipeline -->
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  
  <!-- Javascript through Asset Pipeline -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <!-- Meta Tags -->
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("fa84dbfcbda5ac0e73ad4619c1603d0b");</script><!-- end Mixpanel -->

</head>
<body>
  <!-- Render the header -->
	<%= render 'layouts/header' %>


    <!-- Flash Messages on Load -->
    <% flash.each do |key,value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>


  <!-- Render the View -->
	<%= yield %>

  <!-- Render the Footer -->
  <%= render 'layouts/footer' %>

  <!-- Render any scripts -->
  <%= yield :scripts %>
        <script type="text/javascript" src="https://d1xnn692s7u6t6.cloudfront.net/widget.js"></script>
<script type="text/javascript">
(function k(){window.$SendToKindle&&window.$SendToKindle.Widget?$SendToKindle.Widget.init({}):setTimeout(k,500);})();

    $('.flip').mouseover(function(){
        $(this).find('.card').addClass('flipped').mouseleave(function(){
            $(this).removeClass('flipped');
        });
        return false;
    });
    
</script>
  <!-- Temporary Debugging Tool -->
 <!--  <%= debug(params) if Rails.env.development? %> -->
</body>

</html>
